body {
  background-color: #f7f7f7;
  font-family: 'Abhaya Libre', serif;
}

#brandfont {
  font-family: "acier-bat-outline", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 48px;
  margin-bottom: 25px;
}

#blog-button {
  width: 140px;
  font-weight: bold;
  margin-top: 30px;
  background-color: #fa4400;
  color: white !important;
}

.photo-container {
  margin-bottom: 40px;
}

.block-content {
  background-color: #98fb98;
  height: 80px;
  width: 100%;
  margin: 0 auto;
}

#repo-button {
  font-weight: bold;
  margin: 10px;
}

.portfolio-container .card-img {
  max-height: 200px;
}

.info-section {
  background: white;
  padding: 40px 80px 40px 80px;
  margin-bottom: 40px;
}

#info-section-title {
  padding-bottom: 10px;
}

.btn {
  text-shadow: none !important;
}

.blog-container {
  margin-top: 40px;
}

.blog-card {
    box-shadow: 0 0 20px grey;
}

#article-header {
  padding-left: 60px;
  margin-top: 40px;
}

footer {
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-top: 40px;
}

#link-font {
  color: #fa4400;
}

.get-in-touch {
  margin-top: 40px;
}
